:root {
  --white: #f8f8f8;
  --black: #282a36;
  --gray: #f7fff7;
  --highlight-alt: #339933;

  --background: var(--gray);
  --body: var(--black);
  --highlight: #4ecdc4;
}

[data-theme="dark"] {
  --background: var(--black);
  --body: var(--white);
  --highlight: #5af78e;
}
