.container {
  max-width: 720px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 1em;
  margin-right: auto;
  margin-left: auto;
}

.footer {
  margin-top: 50px;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  div {
    flex: 50%;

    &:nth-child(2) {
      text-align: right;
    }
  }
}
